/* ==UserStyle==
@name           Smol Reactor
@namespace      reactor.cc
@namespace      joyreactor.cc
@version        1.0.1
@description    Adaptive and less disruptive version of Reactor
@author         iria_somobu
==/UserStyle== */

@-moz-document domain("joyreactor.cc"), domain("reactor.cc") {

/*
 * Общее
 */

/* Ужимаем блоки содержимого
   частично разожмем обратно в адаптиве, в самом низу страницы
*/
#pageinner {
  padding: 10px;
}

.topbar_inner, #header, #page {
  width: 100%;
}

#content {
  width: calc(100vw - 20px);
}

/* Уменьшаем шрифт в кнопках навигации, чтобы все влезло */
#navcontainer ul li a, .post_random a {
  font-size: 12px;
}

/* Чтобы разметку не попердолило на сверхшироких тэгах */
#searchBar {
  overflow-y: scroll;
}

/* Ужимаем менюху поиска */
#searchmenu {
  width: 200px;
}

/* Прячем кнопулю поиска -- она нам не нужна */
#searchsubmit {
  display: none;
}

/* Немношк правим отступы навигации */
#navcontainer {
  display: flex;
  gap: 1rem;
  background: #392f1ec2;
}

/* Запрещаем навигации срать */
#navcontainer > * {
  height: 38px;
  display: flex;
  white-space: nowrap;
}

/* Прячем фон навигации, т.к. установили свой */
#navcontainer::after {
  display: none;
}

/* Прячем сайдбар */
#sidebar {
  display: none;
}

/* Тенечька вокруг страницы */
#page {
  margin-bottom: 32px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
}

/* Убираем отступ снизу у основного содержимого (лента, пост+комменты) */
#content {
  margin-bottom: 0;
}



/*
 * Посты (оформление самого поста -- лента и просмотр)
 */
.article .post_top {
  padding-right: 0px !important;
}

/* Выравниваем пекчи внутри поста по центру -- потому что могу */
.post_content .image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Циферки около постов и комментов мешают адекватно воспринимать комментатора */
.post_rating, .comment_rating {
  display: none !important;
}

/* Кнопки шары около постов не нужны */
.uhead_share {
  display: none;
}

/* Спасибо, я и так знаю, что это лучший комментарий */
.comment.filled > h3 {
  display: none;
}

/* Скроем ссылку на пост, ибо можно копировать ссылку непосредственно с кнопки комментов */
.ufoot_first > .link_wr {
  display: none !important;
}

/* Дату у поста сдвинем вправо */
.ufoot_first > .date {
  float: right;
  font-size: 18px;
  font-weight: 700;
}

/* Уберем у даты отступ */
.ufoot_first > .date .time {
  margin-right: 0px;
}


/*
 *  Страница поста
 */
/* OCR и тэги нужны поисковикам, не мне */
#contentinner > .post_description {
  display: none;
}

/* Кнопка "подробнее" внизу полного поста нужна поисковикам, но не мне */
.more_link {
  display: none;
}

/* Прячем рекомендации под постом */
.allow_long.post_content > .blog_results, .allow_long.post_content > .mainheader {
  display: none;
}

/* Убераем-скрываем в комментах вообще все */
.ufoot > .post_comment_list > * {
  display: none;
}

/* А затем возвращаем сами комменты */
#contentinner .comment_list_post {
  display: inherit;
}

/* Прячем рекомендации внизу страницы */
#contentinner > .single_post ~ * {
  display: none;
}

/* Но вот блок навигации лучше бы оставить */
#post_navigation_wrapper {
  display: inherit !important;
}


@media(min-width: 945px) {

  /* Слегка разжимаем блоки содержимого, но не до конца */
  #pageinner {
    padding: 40px;
  }

  #container {
    min-width: 945px;
    width: inherit;
  }

  #content {
    width: calc(945px - 2*40px)
  }
  
  .topbar_inner, #header, #page{
    width: 945px;
  }
}
}
